* {
  margin: 0;
}

html {
  background: rgb(45, 45, 45);
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 40px;
  padding: 10px;
}

.content span,
.count {
  font-size: 32px;
  color: aliceblue;
}

button {
  width: 100px;
  height: 30px;
}
